body{
    display: block;
    background: content-box radial-gradient(rgb(213, 222, 230), rgb(135, 210, 235));
} 
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 10px;
}
.header{
    padding:60px;
    text-align:  center;
    backface-visibility: visible;
    color: rgb(65, 61, 61);
    font-size: 30px;
}
h2{
    color: rgb(65, 72, 80);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
#fish{
    display: block;
    width: 50%;
    height: 200;
    margin-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
a{
    margin-inline-start: 50px;
    font-weight: bolder;
    font-size: 20px;

}
.row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 500px;
    border: 5px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    padding: 20px;
    margin-top: 10px;
    padding-left: 50px;
    margin-block-end: 20px;
}
.pic1{
    width: 200px;
    height: auto;
    align-content: center;
}
p{
    padding: 50px;
}
    

