body{
    display: block;
    background: content-box radial-gradient(rgb(137, 165, 190), rgb(192, 195, 196));
    }
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 50px;
}
.header{
    padding:60px;
    text-align:  center;
    backface-visibility: visible;
    color: rgb(65, 61, 61);
    font-size: 30px;
}
h2{
    color: rgb(65, 72, 80);
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
#fish{
    display: block;
    width: 50%;
    height: 200;
    margin-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
fieldset{
    width: 1500px;
    height: 100px;
    border:5px solid black;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
legend{
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 12px;
    color: rgb(248, 248, 248);
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
label{
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bolder;
}
#clear{
    margin-left: 20px;
    text-align: center;
    padding: 5px;

}
table{
    padding-left: 50px;
    border: 2px solid black;
    border-spacing: 3rem;
    width: 30px;
    border-collapse: collapse;
    margin-left: 200px;
}
th{
    border: 5x solid black;
    padding: 20px;
    background-color: rgb(114, 174, 214);
    font-weight: bolder;
    border-collapse: collapse;
}
td {
    border: 5x solid black;
    padding: 20px;
    background-color: blanchedalmond;
    border-collapse: collapse;
}
tr{
    border: 5x solid black;
    padding: 20px;
    background-color: blanchedalmond;
    font-weight: bolder;
    border-collapse: collapse;
}
home{
    padding; 100px;
}