header div {
    height: 75px;
    width: 450px;
}
header ul{
    list-style: none;
}

header li {
    display: inline-block;
    margin-right: 50px;

}


footer {
    margin: 0px auto;
    width: 960px;
    /* float: right; */
}