img {
    column-width: auto;
}
body {
    background-color:  rgb(225, 252, 250);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
li{
    display: inline;
    margin-right: 5px;
}
h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
   
}
p {display: inline;
    
}
p:hover {
    background-color: beige;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    /* margin-top: 45; */
    /* margin-bottom: 25; */
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 30;
   text-align: center;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    columns:black;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-top: 5px; 
    margin-bottom: 5px;

}

.zig-zag {
    border: none;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px; 
    height: 30px;
    background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: #EC173A;
}