#list{
    display: block;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

div ul li{
    z-index:2;
    font-family: 'Ubuntu', sans-serif;
    padding:2px;
}
#left{
    position:absolute;
    float:left;
    left: 650px;
    top: 1000px;
    width: 2255px;
}
#right{
    position:absolute;
    float: right;
    width: 255px;
    top: 1000px;
    right: 650px;
}
.checked{
    text-decoration: line-through;
}
.bottomBorder{
 background-color:gray;
 color: gray;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:50%;
 height:5px;
 margin-top: 15px;
}
.bottom img{
    position: absolute;
    float:left;
}
#share{
    position: absolute;
    float: right;
    color:white;
    width: 150px;
    background-color:rgb(179, 45, 0);
    height:35px;
    width:115px;
    text-align: center;
    font-size: 13px;
    align-content: center;
    right:550px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:50px;
}
footer img, p img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    color: gray;
    height:230px;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-weight:bold;
    position: relative;
}

section{
    float: right;
    position: relative;
}

nav>p{
    position: relative;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

h1{
    font-size: 50px;
}

#tinyPrint{
    position: relative;
}
#bottomSection{
    left: 80px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:45%;
    line-height:20px;
}