
h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: .2em;
}

h2 {
  font-weight: bold;
}

img {
  margin-top:30px;
}

#locations, li {
  text-align:left;
  margin: 10px;
}  


body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: .05em;
  max-width: 500px;
  margin: auto;
  width: 60%;
  opacity: .75;
}
