

body {background-color: rgb(187, 220, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {font-size: 300%;
}

h3 {font-size: 150%;
}

header {
    padding: 30px;
    align-content: center;
    border: 20px solid rgb(15, 80, 121);
    background-color: rgba(126, 206, 255, 0.575);
    text-align: center;
}

main {padding: 30px;}

p{
    font-style: italic;
}