body {
    background-image: url(../assets/busmallbackground.jpeg);
    font-family: 'Rock Salt', cursive;
    color: whitesmoke;
    line-height: 25px;
}


header li {
    background-color: hsla(240, 14%, 28%, 0.5);    
}

header h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

ul li {
    float: right;
    margin: 10px;
}

div h1:only-of-type {
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
}

input {
    font-family: 'Rock Salt', cursive;  
}

input:hover {
    background-color: hsla(214, 78%, 52%, 0.5);
    cursor: pointer;
}

