* body {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
}
table {
  width: 600px;
}
th, td {
  padding: 7px 10px 10px 10px;
  text-align: center;
}
th {
  background-color: gray;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 3px solid #111111;
  border-top: 1px solid #999;
  text-align: center;
}
tr.even {
  background-color: #efefef;
}
tr:hover {
  background-color: #c3e6e5;
}
tr:last-child {
  background-color: black;
  color: white;
}
table tr td:last-child {
  background-color: lightgray;
}
table tr td:first-child {
  font-weight: bold;
}
tr:last-child td:last-child{
  background-color: red;
  color: black;
  font-weight: bold;
}
tr:last-child td:first-child{
  font-weight: normal;
}
#salesForm {
  background-color: gray;
}
#salesFormDelete {
  background-color: gray;
}
fieldset {
  color: white;
  font-weight: bold;
  font-size: 90%;
}
#submitAddNewShop {
  background: yellow;
  font-weight: bold;
 }
#submitDeleteShop {
  background: yellow;
  font-weight: bold;
}