


body {
    background-color: lightyellow

}

table{
    border: 2px solid black;
    margin-bottom: 10px;  
    font-size: 18px;
    

}
table tfoot{
    border: 10px solid black;
    font-weight: 200;
}

table.red-green{

}

table td{
    border: 1px solid black;
    font-kerning: 1em;

}

button{

    
}
