@media(min-width: 480px){

    .main {
    display: grid;
    grid-template-rows: 75px 150px 125px 125px 240px 240px 80px;
    grid-auto-columns: 250px 250px;
    }    
    
        
    #cellA {
        grid-column: 1/3;
        grid-row-start: 1;
    }
    
    #cellB {
        grid-column: 1/3;
        grid-row-start: 2;
    
    }
    
    #cellC {
        grid-column: 1/3;
        grid-row-start: 3;
    
    }
    
    #cellD {
        grid-column: 1/3;
        grid-row-start: 4;    
    
    
    }
    #cellE{
        grid-column: 1/2;
        grid-row-start: 5;
    
    }
    
    #cellF {
        grid-column: 2/3;
        grid-row-start: 5;    
    
    }
    
    #cellG {
        grid-column:1/2; 
        grid-row-start: 6;        
    
    }
    
    #cellH{
        grid-column: 2/3;
        grid-row-start: 6;    
    
    }
    
    #cellI {
        grid-column: 1/3;
        grid-row-start: 7;    
    }
    }
    
    /* tablet view */
     @media(min-width:550px) and (max-width: 767px) {
    
    .main {
        display: grid;
        grid-template-rows: 100px 100px 200px 250px 150px;
        grid-auto-columns: 190px 190px 190px 190px;
        }
        #cellA {
            grid-column: 1/5;
            grid-row-start: 1;        
        }
        
        #cellB {
            grid-column: 1/5;
            grid-row: 2;        
        }
        
        #cellC {
            grid-column: 1/3;
            grid-row-start: 3;        
        }
        
        #cellD {
            grid-column: 3/5;
            grid-row-start: 3;            
        }
        #cellE{
            grid-column: 1;
            grid-row: 4;
        }
        
        #cellF {
            grid-column: 2;
            grid-row: 4;
        }
        
        #cellG {
            grid-column:3; 
            grid-row: 4;    
        }
        
        #cellH{
            grid-column: 4;
            grid-row-start: 4;
        }
        
        #cellI {
            grid-column: 1/5;
            grid-row: 5;
        }
    } 
    
    @media(min-width: 768px) {
    
    .main {
    display: grid;
    grid-template-rows: 100px 200px 250px 150px;
    grid-auto-columns: 200px 190px 190px 190px 190px;
    
    }
    
    #cellA {
        grid-column: 1/6;
        grid-row-start: 1;    
    }
    
    #cellB {
        grid-column: 1;
        grid-row: 2/6;    
    }
    
    #cellC {
        grid-column: 2/4;
        grid-row-start: 2;    
    }
    
    #cellD {
        grid-column: 4/6;
        grid-row-start: 2;       
    }
 
    #cellE{
        grid-column: 2;
        grid-row: 3;
    }
    
    #cellF {
        grid-column: 3;
        grid-row: 3;
    }
    
    #cellG {
        grid-column:4; 
        grid-row: 3;    
    }
    
    #cellH{
        grid-column: 5;
        grid-row-start: 3;
    }
    
    #cellI {
        grid-column: 2/6;
        grid-row: 4;
    }
    
}   
