* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: orangered;
}


/*header > nav {
    display: inline-block;
    height: 100px;
    width:1080px;
    overflow: hidden;
}*/
header img {  
    float: left;
    margin: 0px;
    height: 60px;
}

h1 {
    color: white;
    padding-left: 10px;
}

header h1 {
    float: left;
    line-height: 60px;
    height: 60px;
    font-size: 50px;
}

header ul {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: auto 0;
    margin-right: 20px;
    overflow: auto;
    position: absolute; 
    top: 0;
    right: 0;
}

header ul > li {
    float:left;
    margin: auto 0;
    Line-height: 60px;
    height: 60px;
    font-size: 24px;
    /* border-color:white */
    border-right: 1px solid white
}

header a {
    display:inline-block;
    padding: 0 10px;
    height:60px;
}
.stickyHeader{
    position:fixed;
    width: 100%;
    height:60px;
    margin: 0; 
    margin-top: 0;
    background-color: orange;

main {
    margin-top:0px;
    margin-bottom:20px; 
    margin-left: auto;
    margin-right: auto;
    width:960px;
    align-content: center;
}

#img1 {
    width: 200px;
}

a {
    background-color: #B8336A;
    box-shadow: 5px #904C77;
    color: white;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
}
main a{
    margin-top:20px
}

article img{
    float: right;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;  
} 

#about{
    /* margin-left: 10px; */
    width: 960px;
    font-family: "Palatino"
}

p {
    margin:20px;
} 

.bio {
    float: left;
    margin-top: 75px;
    margin-bottom: auto;
    font-family: "Palatino"
}

.box{
    display: flex;

} 

#images{
    float: right;
}


#flex-grid{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col1{
    flex:1; 
}

.col2{
    flex:2; 
}

.col3{
    flex:3; 
}

#reset_button{
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient (linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
    text-decoration:none;
    margin: 20px;
}

#save_button{
     -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient (linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
    text-decoration:none;
    margin: 20px;
}

 .button {
   -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient (linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
    text-decoration:none;
    margin: 20px;
}

.btn {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient (linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
}

footer {
    width: 960px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: 40px;
    background-color: rgb(249, 169, 103);
}

footer img {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin: 0px;
    height: 40px;
}


