*, *:before, *:after {
    box-sizing: border-box;
}
.main {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 480px;
    /* display: flex; */
    /* flex-direction: row; */
}

[class *= 'col-'] {
    width: 100%;
    /* margin: 0 auto; */
    border: 1px solid black;
    /* height: 75px; */
    text-align: center;
    font-size: 30px;
}