
<style>   
  body {
    color: lightskyblue
  }
  header {
  color: orchid
  }
  h1 {
  color: royalblue
    }
  h2 {
  color: lightcoral
  } 
  h3 {
    color: orange
  }
  footer {
  color: greenyellow
  }
</style>